body {
  background-color: black;
}
#toggle {
  display: none;
}
.button {
  display: inline-block;
  width: 95px;
  height: 45px;
  background-color: #fff;
  border-radius: 30px;
  position: relative;
  cursor: pointer;
}
.button::after {
  content: url("sun-line.svg");
  width: 40px;
  height: 40px;
  background-color: #e03c3c;
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  position: absolute;
  /* top: -25px; */
  left: 0;
  display: grid;
  /* place-content: center; */
  line-height: 0;
  transition: background-color 1s, transform 1s ease-in;
}
#toggle:checked + .button::after {
  content: url("moon-line.svg");
  width: 40px;
  height: 40px;
  background-color: #1f257f;
  transform: translateX(50px) rotate(360deg);
}
